<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>pause_torrents</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/ashi/.nvm/versions/io.js/v1.6.1/bin/node</string>
    <string>/Users/ashi/scripts/pause_torrents</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Users/ashi/scripts</string>
  <key>StandardErrorPath</key>
  <string>/Users/ashi/scripts/pause_torrents.log</string>
</dict>
</plist>
